/* Importing component styles */

@import url(styles/live_stats.css);
@import url(styles/orderbook.css);
@import url(styles/sales.css);
@import url(styles/order_form.css);
@import url(styles/user_order.css);
@import url(styles/scrollbar.css);

/* Main body styles */

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  background: #0f1115;
  color: white;
  font-size: 13px;
  padding-right: 28px;
}

.dashboard {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto 1fr auto;
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
  max-width: 1900px;
  margin: 0 auto;

}

.card {
  background: #1a1d25;
  border-radius: 14px;
  padding: 0px 13px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 2px solid #2b303b;
}