body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f1115;
  color: white;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 15px;
  padding: 15px;
  height: 100vh;
  box-sizing: border-box;
}

.card {
  background: #1a1d25;
  border-radius: 10px;
  padding: 12px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.stats {
    grid-column: 1;
}

.market {
  grid-column: 1 / 4;
}

.orderbook {
  grid-column: 1;
}

.wallet {
  grid-column: 2;
}

.trades {
  grid-column: 3;
}

.orderform {
  grid-column: 1 / 3;
}

.userorders {
  grid-column: 3;
}