.risk-container {
    font-family: sans-serif;
}

.risk-title {
    margin: 0;
    letter-spacing: 0.3px;
    font-size: 19px;
    font-weight: 700;
    margin-top: -9px;
    margin-left: -5px;
}

.risk-subtitle {
    margin-top: 10px;
    margin-left: -5px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 545;
}

.risk-content {
    display: flex;
    align-items: center;
    gap: 24px;
}

.donut-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}

.donut-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.donut-total {
    font-size: 20px;
    font-weight: 700;
}

.donut-total-label {
    font-size: 15px;
}

.risk-legend {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;
}

.risk-legend-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
}

.risk-legend-key {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: -10px;
}

.risk-legend-swatch {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.risk-legend-label {
    font-size: 15.3px;
}

.risk-legend-percent {
    color: white;
}