@import "./styles/LiveTransactions.css";
@import "./styles/RiskDistribution.css";
@import "./styles/RiskiestCustomer.css";
@import "./styles/TransactionsByCountry.css";
@import "./styles/FraudByRule.css";
@import "./styles/SlidePanel.css";

* {
    box-sizing: border-box;
}

body {
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -6px;
    margin-bottom: -6px;
    background-color: #0b111f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.dashboard {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    margin: 0;
    font-size: 2rem;
}

.headerAnalytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.visualisations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.transactions-processed {
    background: #17202e;
    border: 1px solid #334155;
}

.risk-alerts {
    background: linear-gradient(135deg, #3A1116, #2A0C12);
    border: 1px solid #8A2A35;
}

.awaiting-review {
    background: linear-gradient(135deg, #453515, #2E220E);
    border: 1px solid #B98B22;
}

.fraud-prevented {
    background: linear-gradient(135deg, #123824, #0C2919);
    border: 1px solid #2E8B57;
}

.card {
    background: #17202e;
    border-radius: 8px;
    border: 1px solid #334155;
    padding: 20px;
    max-height: 300px;
}

.stat-card {
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 20px;

    height: 85px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-card-content {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.stat-card-image {
    width: 64px;
    height: 64px;
    border-radius: 14px;
    object-fit: contain;
    flex-shrink: 0;
    margin-bottom: 21px;
}

.stat-card-text {
    display: flex;
    flex-direction: column;
}

.stat-card h3 {
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.4px;
}

.stat-card h1 {
    margin-top: 6px;
    font-size: 34px;
    font-weight: 500;
}

.transactions {
    min-height: 520px;
}

/* Main Scroll Bar*/
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #171e2b;
}

::-webkit-scrollbar-thumb {
    background: #3a3f4b;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5a6272;
}